.sideMenu{
    background-color: #2325378f;
    width: 27%; /* Занимает чуть меньше 2/3 ширины */
    height: 100vh; /* Занимает всю высоту экрана */
    left: 0; /* Привязывает меню к левой стороне */
    top: 0; /* Привязывает меню к верхней части */
    padding: 20px; /* Отступы внутри меню */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Добавление тени для эффекта */
}
